<!-- File: templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder for Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Tinder for Spotify</h1>
        <p class="tagline">Swipe songs, discover music, and create playlists effortlessly.</p>
        <a href="#" class="login-btn">BeginExploring </a>
    </div>
</body>
</html>
